/* FONTS */


    @font-face {
    font-family: 'rupster_script_freeregular';
    src: url('../fonts/rupster/10859-webfont.eot');
    src: url('../fonts/rupster/10859-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rupster/10859-webfont.woff2') format('woff2'),
         url('../fonts/rupster/10859-webfont.woff') format('woff'),
         url('../fonts/rupster/10859-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/subset-Impact.eot');
    src: url('../fonts/impact/subset-Impact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/impact/subset-Impact.woff2') format('woff2'),
        url('../fonts/impact/subset-Impact.woff') format('woff'),
        url('../fonts/impact/subset-Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    /* Google fonts */
    /* font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif; */






/* My styles */

    .relative{
        position: relative;
    }


    .menu{
        border:none;
        height: 100px;
        border-radius: 0;
        margin-bottom: 0;
        z-index: 10;
        background-color: white;
    }


    #myNavbar{
        background-color: white;
    }

    .icon-bar{
        background-color: blue;
    }

    .navbar-toggle{
        border: 1px solid blue;
    }

    .navbar-brand{
        height: initial;
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    .menu-items>li>a{
        margin-top:30px;
        margin-bottom: 30px;
        padding: 10px 15px;
        color: #767676;;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.32px; 
    }

    .menu-items>li>a:hover{
        color:#1485cc;
        background-color: transparent;
    }

    .menu-items:first-child a{
        padding-left: 0;
    }

    .slider{
        max-width: 1400px;
    }

    .hidder{
        overflow: hidden !important;
    }

    .slider-arrow-left{
        position: absolute;
        bottom: 52px;
        left: 50%;
        margin: -35px;
        cursor: pointer;

    }

    .slider-arrow-left:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        background-image: url(../images/sliderarrow.png)
    }
    
    .slider-arrow-right{
        position: absolute;
        bottom: 52px;
        right: 50%;
        margin: -35px;
        cursor: pointer;
    }

    .slider-arrow-right:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/sliderarrow.png)
    }


    .section{
        position: absolute;
        top: 0;
        
    }

    .section-md{
        position: relative;
        background-color:rgba(20, 133, 204, 0.6);
    }

    .main-logo{
        margin-top: 56px;
    
    }

    .phone{
        position: relative;
        margin-top: 56px;
        height: 70px;
        margin-bottom: 19px;
        text-align: center;
    }

    .phone-number{
        display: inline-block;
        color: #ffffff;
        font-family: "Roboto, sans-serif;";
        font-size: 22px;
        font-weight: 900;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .phone-number:hover {
        color: #62d5ff;
        text-decoration: none;
    }


    .under-phone:hover {
        color: #62d5ff;
    }

    .under-phone{
        margin-top: 20px;
        position: relative;
        width: 86px;
        text-align: center;
        margin-left: 30px;
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
    }

    .under-phone:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 8px;
        left: 75px;
        height: 40px;
        width: 46px;
        background: url(../images/arrowup.png)
    }

    .main-btm{
        float: none !important; 
        width: 300px;
        height: 60px;
        box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
        background-color: #62d5ff;
        border-radius: 30px;
        margin-top: 495px;
        text-align: center;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .main-btm:focus {
        outline: none;
    }

    .main-btm:active:focus {
        outline: none;
    }

    .slider-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #143bcc;
        opacity: 0.35;
    }

    .rectangle:before{
        right: 50%;
        top:240px;
        position: absolute;
        display: block;
        content: "";
        width: 3000px;
        height: 1100px;
        background-color: rgba(99, 159, 181, 0.5);
        border-top: 130px solid rgba(98, 213, 255, 0.5);
        z-index: 2;
        transform: rotate(24deg);
    }

    .rectangle:after{
        left: 50%;
        top: 240px;
        position: absolute;
        display: block;
        content: "";
        width: 3000px;
        height: 1100px;
        background-color: rgba(99, 159, 181, 0.5);
        border-top: 130px solid rgba(98, 213, 255, 0.5);
        z-index: 2;
        transform: rotate(-24deg);
    }

    .subhead{
        position: relative;
        margin-top: 100px;
        color: #1485cc;
        font-family: "rupster_script_freeregular";
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 95px;
        z-index: 5;
    }



    .subhead span{
        position: absolute;
        display: block;
        color: #f3f7fa;
        font-family: 'Roboto', sans-serif;
        font-size: 100px;
        font-weight: 700;
        line-height: 100px;
        text-transform: uppercase;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        padding-left: 70px;   
    }

    .subhead span:before{
        position: absolute;
        left: -12px;
        bottom: 50%;
        content: "01";
        color: #f5f8fb;
        font-family: 'Roboto', sans-serif;
        font-size: 90px;
        font-weight: 300;
        line-height: 70px;
        text-transform: uppercase;
        letter-spacing: -1.8px;
        transform: translateY(50%) rotate(-90deg);
        display: block;
    }

    .philosophy{
        position: relative;
    }

    .philosophy:before{
        position: absolute;
        content: "";
        display: block;
        width: 1500px;
        height: 1500px;
        transform: rotate(45deg);
        background-image: linear-gradient(to bottom right, white 0%, #f6f9fb 100%);
        top: -1350px;
        left: 50%;
        margin-left: -750px;
        z-index: -1;


    }

    .philosophy h3{
        color: #1485cc;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
    }

    .philosophy p{
        color: #4f4f4f;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        padding-top: 10px;
        
    }

    .philosophy-row img{
        padding: 0;
    }

    .legend{
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: white;
        z-index: 1;
        padding-left: 130px;
        box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
    }

    .legend:before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -53px;
        left: 10px;
        width: 106px;
        height: 88px;
        background-image: url(../images/sprite.png);
    }

    .philosophy-row:nth-child(2) .legend:before{
        background-position: -212px 0px;
        width: 84px;
    }

    .philosophy-row:nth-child(3) .legend:before{
        background-position: -105px 0px;
    }

    .philosophy-row:nth-child(4) .legend:before{
        background-position: 3px 0px;
    }




    .event{
        position: relative;
        margin-bottom: 44px;
    }

    .event:before{
        content: "";
        display: block;
        border-left: 159px solid #1485cc;
        border-top: 92px solid transparent;
        border-bottom: 92px solid transparent;
    }



    #teambuilding:before{
        border-left: 159px solid #f3f7fa;
    }

    .event:after{
        position: absolute;
        content: "";
        display: block;
        width: 60px;
        height: 44px;
        top: 50%;
        margin-top: -22px;
        left: 35px;

    }

    .event:nth-child(1)::after{
        background-image: url(../images/sprite.png);
        background-position: -296px -3px;
        width: 55px;
        height: 48px;
    }

    .event:nth-child(2)::after{
        background-image: url(../images/sprite.png);
        background-position: -352px -3px;
        height: 60px;
    }

    .event:nth-child(3)::after{
        background-image: url(../images/sprite.png);
        background-position: -412px -2px;
        height: 60px;
    }

    .event:nth-child(4)::after{
        background-image: url(../images/sprite.png);
        background-position: -473px -3px;
        width: 67px;
        height: 56px;
    }

    .event:nth-child(5)::after{
        background-image: url(../images/sprite.png);
        background-position: -540px -3px;
        width: 65px;
        height: 58px;
    }


    .event p{
        position: absolute;
        color: #1485cc;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 14px;
        text-transform: uppercase;
        padding-left: 60px;
        margin-left: 50px;
        bottom: 0;
    }

    .event p:before{
        position: absolute;
        content: "";
        display: block;
        top: -13px;
        left: 0;
        color: #e8eff6;
        font-family:'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 200;
        line-height: 49px;
        text-transform: uppercase;
        letter-spacing: -0.6px;
    }

    .event:nth-child(1) p:before{
        content: "01";
    }

    .event:nth-child(2) p:before{
        content: "02";
    }

    .event:nth-child(3) p:before{
        content: "03";
    }

    .event:nth-child(4) p:before{
        content: "04";
    }

    .event:nth-child(5) p:before{
        content: "05";
    }

    .details{
        position: relative;
        background-color: rgba(20, 133, 204, 0.6);
        background-color: #2791f2;
        min-height: 1170px;
        z-index: 1;

    }

    .details:before{
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to top right, white 0%, white 50%,transparent 50%,transparent 100%);
        z-index: 1;
    }

    .details:after{
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to bottom right, white 0%, white 50%,transparent 50%,transparent 100%);
    }


    .details form{
        position: relative;
        margin-top: 400px;
        z-index: 2;
        max-width: 1000px;
    }

    .details form>div>select{
        width: 100%;
        border: none;
        border-bottom: 2px solid white;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        background-color: transparent;
        height: 25px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .details form>div>select:focus, input:focus, .details form>div option:focus{
        outline-color:  rgb(20, 133, 204);
    }

    .details form>div option{
        width: 100%;
        background-color: rgba(20, 133, 204, 0.6);
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        width: 100%;
    }


    .details form>div input{
        border: none;
        border-bottom: 2px solid white;
        height: 25px;
        margin-top: 10px;

    }

    .details form>div input[type=text] {
        
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        background-color: transparent;
        width: 100%;
        
    }

    .details form>div input::placeholder {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
    }

    .details .main-btm{
        margin-top: 20px;
        
        

    }


    /********************
    * FEATURE CAROUSEL *
    ********************/
    .carousel-container {
      position:relative;
      width:960px;
      margin-bottom: 250px;
    }
    #carousel {
      height:280px;
      width:960px;
      position:relative;
      margin-bottom:0.5em;
      font-size:12px;
      font-family: Arial;
      
    }
    .carousel-image {
      border:0;
      display:block;
    }
    .carousel-feature {
      position:absolute;
      top:-1000px;
      left:-1000px;
      cursor:pointer;
      box-shadow:  0 10px 19px rgba(0, 0, 40, 0.1);
    }

    .carousel-feature .carousel-caption {
      position:absolute;
      bottom: -210px;
      left: -310px;
      text-align: left;
    }
    .carousel-feature .carousel-caption h3{
      
      color: #1485cc;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
    }

    .carousel-feature .carousel-caption p {
      margin:0;
      padding:5px;
      color: #4f4f4f;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 200;
      line-height: 20px;
      font-style: italic;
    }

    #carousel-left {
      position:absolute;
      bottom:33px;
      left:0px;
      cursor:pointer;
      transform: rotate(180deg);
    }
    #carousel-right {
      position:absolute;
      bottom:33px;
      right:0px;
      cursor:pointer;
    }

    .carousel-container button{
        position: absolute;
        top: 338px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        z-index: 20;
    }

    .no-carousel h3{
      
      color: #1485cc;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
    }

     .no-carousel p {
      margin:0;
      padding:5px;
      color: #4f4f4f;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 200;
      line-height: 20px;
      font-style: italic;
    }

    .no-carousel div, .no-carousel img{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .line:before{
        content: "";
        display: block;
        width: 100%;
        height:100%;
        position: absolute;
        top: -50%;
        background-image: linear-gradient(-12deg, transparent 0%,transparent 49%, #f3f7fa 49%,#f3f7fa 50%,transparent 50%,transparent 100%);
        z-index: 10;


    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .feedback{
        position: relative;
        background-image: url(../images/telekom.jpg);
        background-size: 80% 100%;
        background-repeat: no-repeat;
        background-position: left;
        min-height: 1170px;
        z-index: 2;

    }

    .feedback:before{
        content: "";
        display: block;
        width: 80%;
        height: 50%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to top left, white 0%, white 50%,transparent 50%,transparent 100%);
    }

    .feedback:after{
        content: "";
        display: block;
        width: 80%;
        height: 50%;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to bottom left, white 0%, white 50%,transparent 50%,transparent 100%);
    }

    .feedback-inner{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: 30%;
        width:100%;
        z-index: 2;
    }

    .feedback-inner:before{
        content: "";
        display: block;
        width: 20%;
        height: 50%;
        position: absolute;
        right: 0;

        bottom: 0;
        background-image: linear-gradient(to top right, transparent 0%, transparent 50%,#f3f7fa 50%,#f3f7fa 100%);
    }

    .feedback-inner:after{
        content: "";
        display: block;
        width: 20%;
        height: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background-image: linear-gradient(to bottom right, transparent 0%, transparent 50%,#f3f7fa 50%, #f3f7fa 100%);
    }

    .feedback__caption{
      width: 500px;
      padding: 80px 35px 20px;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
      background-color: #ffffff;
      opacity: 0.9;
    }

    .feedback__caption p{
      color: #4f4f4f;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 200;
      line-height: 20px;
      font-style: italic;


    }

    .feedback__caption h3{
      color: #1485cc;
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      text-align: right;
    }

    .feedback__caption:before{
      content: "";
      position: absolute;
      height: 40px;
      width: 55px;
      left: 16px;
      top: 30px;
      background-image: url(../images/sprite.png);
      background-position: -640px -3px;

    }

    #subhead_2 span:before{
        content: "02";
    }

    #subhead_3 span:before{
        content: "03";
    }

    #subhead_4{
        z-index: 10;
        margin-top: -100px;
        margin-bottom: 50px;
    }

    #subhead_4 span:before{
        content: "04";
    }

    #subhead_5{
        margin-top: 200px;
    }

    #subhead_5 span:before{
        content: "05";
    }

    #subhead_6 span:before{
        content: "06";
    }

    #subhead_7{
        z-index: 10;
        margin-top: -100px;
        margin-bottom: 0;
    }

    #subhead_7 span:before{
        content: "07";
    }

    #subhead_8{
        z-index: 10;
        margin-top: -100px;
        margin-bottom: 110px;
    }

    #subhead_8 span:before{
        content: "08";
    }

    .details-second{
        margin-top: -60px;
        background-image: url(../images/imgonline.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }

    .details-second form{
        margin-top: 540px;
        
    }
    
    .team{
        position: relative;
    }

    .team .legend{
      padding-left: 15px;
      padding-right: 25px;
    }

    .team .legend:before{
      display: none;
    }

    .team h3{
        color: #1485cc;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 20px;
    }

    .team h3 span{
        color: #a6c8e6;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        padding-right:10px;
        float: right;
    }
    
    .team-row:nth-child(even) span{
        padding-left:10px;
        float: left;
    }    

    .team p{
        color: #4f4f4f;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        padding-top: 10px;
        
    }


    .team-row:nth-child(even) h3, .team-row:nth-child(even) p{
      text-align: right;
    }

    .team-row img{
        padding: 0;
    }
    
    .map-wrapper{
        height: 700px;
        position: relative;
        overflow: hidden;
    }

    .map-wrapper:before{
        content: "";
        position: absolute;
        width: 5000px;
        height: 100%;
        transform: rotate(-20deg);
        bottom: 900px;
        left: -450px;
        background: white;

    }

    .map{
        height: 100%;
    }

    .contacts{
        content: "";
        position: absolute;
        bottom:100px;
        width: 600px;
        height: 250px;
        background-image: linear-gradient(to top left, transparent 0%, transparent 50%,#1485cc 50%, #1485cc 100%);
    }

    .contacts:before{
        content: "";
        position: absolute;
        bottom: 249px;
        width: 600px;
        height: 250px;
        background-image: linear-gradient(to bottom left, transparent 0%, transparent 50%,#1485cc 50%, #1485cc 100%);
    }

    .contacts-inner{
        display: block;
        z-index: 3;

    }

    .contacts-inner .mail{
        display: block;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        text-decoration: underline;
        margin-top: -15px;
    }

    .contacts-inner .tel{
        display: block;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 15px;
    }

    .fun{
        position: absolute;
        top:1660px;
        left: 0;
        height: 628px;
        width: 268px;
        background-image: url(../images/sprite.png);
        background-position: 0px -176px;
        display: block;
    }


    .chicly{
        position: absolute;
        top: 2420px;
        right: 8px;
        width: 441px;
        height: 510px;
        transform: rotate(73deg);
        background-image: url(../images/sprite.png);
        background-position: 444px -90px;
        display: block;
        z-index: 5;
        /* background-color: #4f4f4f; */

    }

    .fun1{
        position: absolute;
        top: 3165px;
        right: -75px;
        height: 345px;
        width: 737px;
        transform: rotate(14deg);
        background-image: url(../images/sprite.png);
        background-position: -292px -703px;
        display: block;
        z-index: 5;
        /* background-color: #4f4f4f; */
    }

    .fun2{
        position: absolute;
        top: 4560px;
        right: 0;
        height: 628px;
        width: 268px;
        transform: rotate(180deg);
        background-image: url(../images/sprite.png);
        background-position: 0 -174px;
        display: block;
        z-index: 1;
        /* background-color: #4f4f4f; */

    }

    .chicly1{
        position: absolute;
        top:5840px;
        left: 0px;
        width: 250px;
        height: 457px;
        background-image: url(../images/sprite.png);
        background-position: 750px -238px;
        display: block;
        z-index: 1;
        /* background-color: #4f4f4f; */

    }

    .chicly2{
        position: absolute;
        bottom: 90px;
        left: -100px;
        width: 245px;
        height: 298px;
        transform:scaleX(-1)  rotate(-67deg);
        background-image: url(../images/sprite.png);
        background-position: 280px -165px;
        display: block;
        z-index: 0;
        /* background-color: #4f4f4f; */

    }


    

/* //////////////////////////////////////// */

@media screen and (min-width: 768px) {
    .philosophy-row{
    display: flex;
    justify-content:center;
    align-items: center;
    }

    .team-row{
    display: flex;
    justify-content:center;
    align-items: center;
    }

}


@media screen and (max-width: 450px) {

    .navbar-nav {
        margin: 7.5px 15px;
    }

    .legend{
        padding-left: 15px;

    }

    .legend:before{
        display: none;
        
    }
}

@media screen and (max-width: 1050px){
    .details{
        min-height: initial;
        background-image: linear-gradient(to top,rgba(20, 133, 204, 0.6), white);
   }

   .subhead span{
        display: none;       
    }


    .details:before, .details:after{
        display: none;
    }
}


@media screen and (max-width: 1200px){
    #subhead_4{
        /* z-index: 10; */
        margin-top: 100px;
        margin-bottom: 95px;
    }

    .line{
        display: none;
    }

    .feedback:before, .feedback:after{

        display: none;
    }

    .feedback{
        background-size: cover;
        background-position: center;
    }

    .feedback-inner{
        display: none;
    }

    .feedback__caption{
        width: auto;
    }

    #subhead_8{
        z-index: 10;
        margin-top: 100px;
        margin-bottom: 110px;
    }

}



/* /////////////////////////////////////////// */
