/* FONTS */


    @font-face {
    font-family: 'rupster_script_freeregular';
    src: url('../fonts/rupster/10859-webfont.eot');
    src: url('../fonts/rupster/10859-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rupster/10859-webfont.woff2') format('woff2'),
         url('../fonts/rupster/10859-webfont.woff') format('woff'),
         url('../fonts/rupster/10859-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/subset-Impact.eot');
    src: url('../fonts/impact/subset-Impact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/impact/subset-Impact.woff2') format('woff2'),
        url('../fonts/impact/subset-Impact.woff') format('woff'),
        url('../fonts/impact/subset-Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    /* Google fonts */
    /* font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif; */






/* My styles */

    /* a:focus {
        outline:none;
        text-decoration: none;
    } */


    .menu{
        border:none;
        height: 100px;
        border-radius: 0;
        margin-bottom: 0;
        z-index: 10;
        background-color: white;
    }


    #myNavbar{
        background-color: white;
    }

    .icon-bar{
        background-color: blue;
    }

    .navbar-toggle{
        border: 1px solid blue;
    }

    .navbar-brand{
        height: initial;
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    .menu-items>li>a{
        margin-top:30px;
        margin-bottom: 30px;
        padding: 10px 15px;
        color: #767676;;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.32px; 
    }

    .menu-items>li>a:hover{
        color:#1485cc;
        background-color: transparent;
    }

    .menu-items:first-child a{
        padding-left: 0;
    }

    .slider{
        max-width: 1400px;
    }

    .hidder{
        overflow: hidden;
    }

    .slider-arrow-left{
        position: absolute;
        bottom: 52px;
        left: 50%;
        margin: -35px;

    }

    .slider-arrow-left:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        background-image: url(../images/sliderarrow.png)
    }
    
    .slider-arrow-right{
        position: absolute;
        bottom: 52px;
        right: 50%;
        margin: -35px;
    }

    .slider-arrow-right:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/sliderarrow.png)
    }


.section{
    position: absolute;
    top: 0;
    
}

.section-md{
    position: relative;
    background-color: thistle;
}

.main-logo{
    margin-top: 56px;
 
}

.phone{
    position: relative;
    margin-top: 56px;
    height: 70px;
    margin-bottom: 19px;
    text-align: center;
}

.phone-number{
    display: inline-block;
    color: #ffffff;
    font-family: "Roboto, sans-serif;";
    font-size: 22px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.phone-number:hover {
    color: #62d5ff;
    text-decoration: none;
}


.under-phone:hover {
    color: #62d5ff;
}

.under-phone{
    margin-top: 20px;
    position: relative;
    width: 86px;
    text-align: center;
    margin-left: 30px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.under-phone:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
    left: 75px;
    height: 40px;
    width: 46px;
    background: url(../images/arrowup.png)
}

.main-btm{
    float:none; 
    width: 300px;
    height: 60px;
    box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
    background-color: #62d5ff;
    border-radius: 30px;
    margin-top: 495px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.main-btm:focus {
    outline: none;
}

.main-btm:active:focus {
    outline: none;
}

.slider-wrapper{
    width: 1400px;
    height: 821px;
    position: absolute;
    top: 0;
    background-color: #143bcc;
    opacity: 0.35;
}

.rectangle:before{
    right: 50%;
    top:240px;
    position: absolute;
    display: block;
    content: "";
    width: 3000px;
    height: 1100px;
    background-color: rgba(99, 159, 181, 0.5);
    border-top: 130px solid rgba(98, 213, 255, 0.5);
    z-index: 2;
    transform: rotate(24deg);
}

.rectangle:after{
    left: 50%;
    top: 240px;
    position: absolute;
    display: block;
    content: "";
    width: 3000px;
    height: 1100px;
    background-color: rgba(99, 159, 181, 0.5);
    border-top: 130px solid rgba(98, 213, 255, 0.5);
    z-index: 2;
    transform: rotate(-24deg);
}

.philosophy h2{
    position: relative;
    margin-top: 132px;
    color: #1485cc;
    font-family: "rupster_script_freeregular";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 95px;
}

.philosophy h2:before{
    position: absolute;
    content: "";
    display: block;
    width: 1500px;
    height: 1500px;
    transform: rotate(45deg);
    background-image: linear-gradient(to bottom right, white 0%, #f6f9fb 100%);
    bottom: -100px;
    left: 50%;
    margin-left: -750px;
    z-index: -1;


}

.philosophy h2:after{
    position: absolute;
    content: "ФИЛОСОФИЯ";
    display: block;
    color: #f3f7fa;
    font-family: "Roboto - Black";
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    width: 650px;
    text-transform: uppercase;
    z-index: -1;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -325px;
    
}





.philosophy h3{
    color: #1485cc;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.philosophy p{
    color: #4f4f4f;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    
}


.legend{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    z-index: 1;
    padding-left: 130px;
    box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
}

.legend:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -53px;
    left: 10px;
    width: 106px;
    height: 88px;
    background-color: tomato;
}



/* //////////////////////////////////////// */

@media screen and (min-width: 993px) {
    .philosophy-row{
    display: flex;
    justify-content:center;
    align-items: center;
    }

}


@media screen and (max-width: 450px) {
    .legend:before{
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -53px;
    left: 10px;
    width: 106px;
    height: 88px;
    background-color: tomato;
    }

}

.philosophy-row img{
    padding: 0;
}

/* /////////////////////////////////////////// */
