/* FONTS */


    @font-face {
    font-family: 'rupster_script_freeregular';
    src: url('10859-webfont.eot');
    src: url('10859-webfont.eot?#iefix') format('embedded-opentype'),
         url('10859-webfont.woff2') format('woff2'),
         url('10859-webfont.woff') format('woff'),
         url('10859-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'Impact';
    src: url('subset-Impact.eot');
    src: url('subset-Impact.eot?#iefix') format('embedded-opentype'),
        url('subset-Impact.woff2') format('woff2'),
        url('subset-Impact.woff') format('woff'),
        url('subset-Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    /* Google fonts */
    /* font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif; */






/* My styles */
    .menu{
        border:none;
        height: 100px;
        border-radius: 0;
        margin-bottom: 0;
    }

    .icon-bar{
        background-color: blue;
    }

    .navbar-toggle{
        border: 1px solid blue;
    }

    .navbar-brand{
        height: initial;
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    .menu-items>li>a{
        margin-top:30px;
        margin-bottom: 30px;
        padding: 10px 15px;
        color: #767676;;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.32px; 
    }

    .menu-items>li>a:hover{
        color:#1485cc;
        background-color: transparent;
    }

    .menu-items:first-child a{
        padding-left: 0;
    }

    .slider{
        max-width: 1400px;
        overflow: hidden;
    }

    .slider-arrow-left{
        position: absolute;
        bottom: 52px;
        left: 50%;
        margin: -35px;

    }

    .slider-arrow-left:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        background-image: url(../images/sliderarrow.png)
    }
    
    .slider-arrow-right{
        position: absolute;
        bottom: 52px;
        right: 50%;
        margin: -35px;
    }

    .slider-arrow-right:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/sliderarrow.png)
    }



.main-logo{
    margin-top: 56px;
}

.phone{
    margin-top: 56px;
    width: 170px;
    height: 70px;
}

.main-btm{
    width: 300px;
    height: 60px;
    box-shadow: 0 10px 19px rgba(0, 0, 40, 0.1);
    background-color: #62d5ff;
    border-radius: 30px;
    margin-top: 256px;
}

.main-btm-label{
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
}

.phone{
    position: relative;
    z-index: 10;
}

.phone:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
    left: 104px;
    height: 40px;
    width: 46px;
    background: url(../images/arrowup.png)
}

.under-phone{
    width: 86px;
    text-align: center;
    margin-left: 30px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.phone-number{
    color: #ffffff;
    font-family: "Roboto, sans-serif;";
    font-size: 22px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;

}

.phone-number:hover {
    text-decoration: none;
}

a:focus {
    outline:none;
    text-decoration: none;
}



.rectangle:before{
    right: 50%;
    top:240px;
    position: absolute;
    display: block;
    content: "";
    width: 3000px;
    height: 1100px;
    background-color: rgba(99, 159, 181, 0.5);
    border-top: 130px solid rgba(98, 213, 255, 0.5);
    z-index: 2;
    transform: rotate(24deg);
}

.rectangle:after{
    left: 50%;
    top: 240px;
    position: absolute;
    display: block;
    content: "";
    width: 3000px;
    height: 1100px;
    background-color: rgba(99, 159, 181, 0.5);
    border-top: 130px solid rgba(98, 213, 255, 0.5);
    z-index: 2;
    transform: rotate(-24deg);
}
